<mat-toolbar color="primary">
    <button type="button" mat-icon-button class="example-icon">
        <mat-icon class="mat-18" (click)="this.sideNav.open()" *ngIf="!sideNav.opened">menu</mat-icon>
        <mat-icon class="mat-18" (click)="this.sideNav.close()" *ngIf="sideNav.opened">close</mat-icon>
    </button>
    <span>angular-tailwind-testing</span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sideNav="matSidenav">
        <img class="avatar mat-elavation-z8" src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" alt="banner">
        <h4>Let's Watch</h4>
        <mat-divider></mat-divider>

        <ng-container *ngFor="let title of titles">
            <button mat-button class="menu-button">
                <mat-icon>movie</mat-icon>
                <span>{{title}}</span>
            </button><br />
        </ng-container>


        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <span>Hola Mundo</span>
    </mat-sidenav-content>
</mat-sidenav-container>